version: '3'

services:
  worker:
    restart: on-failure
    build: ./worker
    networks:
      - back-tier
    depends_on:
      - redis
      - db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - 0.0.0.0
  db:
    image: postgres:13.0
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - 0.0.0.0
    networks:
      - result-tier
      - back-tier
    restart: on-failure
  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - poll-tier
      - back-tier
    restart: on-failure
    environment:
      - 0.0.0.0
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password


  poll:
    build: ./poll
    ports:
      - "5000:80"
    networks:
      - poll-tier
    restart: on-failure
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - 0.0.0.0
    depends_on:
      - db
      - redis

  result:
    restart: on-failure
    build: ./result
    ports:
      - "5001:80"
    networks:
      - result-tier
    depends_on:
      - db
    environment:
      - 0.0.0.0
volumes:
  db-data:

networks:
  poll-tier: 
  result-tier:
  back-tier:
